@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #333;
    line-height: 1;
}
.main_visual {
    height: 100vh;
    /* vh = viewport height,현재 실행중인 스크린 크기에 맞춰 상대적 크기를 반환 */
    position: relative;
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual div {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: aliceblue;
    text-align: center;
    /* position: absolut하고 text-align: center했는데 화면중앙에 글씨배치안되면
    width값 잡아주기 */
}
.main_visual div h2 {
    font-size: 80px;
    font-family: 'Nanum Myeongjo', serif
}
.main_visual div p {
    font-size: 24px;
}